{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "env": {
    "jest": true,
  },
  "rules": {
    "linebreak-style": "off",
    "no-param-reassign": "off",
    "func-names": "off",
    "no-shadow": "off"
  }
}
